@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form {
  margin-top: 30px;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
}

form .user-details .input-inbox {
  margin-bottom: 15px;
  width: 100%;
}

form .user-details .input-inbox span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-inbox input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 16px;
  margin-top: 8px;
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-inbox input:focus,
.user-details .input-inbox input:valid {
  border-color: #9b59b6;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  background: #9b59b6;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
}

.content form .user-details {
  max-height: 300px;
  overflow-y: scroll;
}

.user-details::-webkit-scrollbar {
  width: 5px;
}

@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}



